body:before {
    background: url('../images/skull.svg') center center no-repeat;
    content: "";
    display: block;
    height: 800px;
    left: 0;
    position: absolute;
    top: 4rem;
    transform-origin: center center;
    transform: rotate(327.5deg);
    width: 800px;
    z-index: 1;
}

h1 {
    color: #25aae1;
}

.wrapper {
    margin: 0 auto;
    max-width: 68rem;
    position: relative;
    z-index: 2;
}